# Database Settings, use "localhost" if not using Docker
DB_HOST="pgbouncer"
DB_PORT=5432
DB_USER="user"
DB_PASS="OGU6P2TNUEwxekD0OHe7"
DB_NAME="postgres"

# App Settings
APP_PORT=8000

# Docker Compose project name (used as prefix for container names)
COMPOSE_PROJECT_NAME="link_shortening"

# Set to True to enable SQLAlchemy query logging
DEBUG=False